target/
!.mvn/wrapper/maven-wrapper.jar
/static
/classes
/generated-sources
/generated-test-sources
/maven-status
/maven-archiver
*.class
*.jar
*.war
*.ear
*.log
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
.DS_Store
